EVOLUTION_BASE_URL=https://evo.flowzap.fun
EVOLUTION_API_KEY=SUA_API_KEY_AQUI
PORT=3000
JWT_SECRET=mude-essa-chave-secreta-aqui-123
ADMIN_LOGIN=Danilo
ADMIN_PASSWORD=$Senha123
CLEANUP_DAYS=7
INSTANCES=F01
NODE_ENV=production
