EVOLUTION_BASE_URL=https://evo.flowzap.fun
EVOLUTION_API_KEY=SUA_API_KEY_AQUI
PORT=3000
JWT_SECRET=GERE_UMA_CHAVE_ALEATORIA_LONGA_AQUI
ADMIN_LOGIN=SEU_LOGIN_AQUI
ADMIN_PASSWORD=SUA_SENHA_FORTE_AQUI
CLEANUP_DAYS=7
INSTANCES=F01
NODE_ENV=production
PIX_TIMEOUT_MS=420000
VAPID_PUBLIC_KEY=GERE_EM_https://vapidkeys.com
VAPID_PRIVATE_KEY=GERE_EM_https://vapidkeys.com
