EVOLUTION_BASE_URL=SUA_URL_EVOLUTION_AQUI
EVOLUTION_API_KEY=SUA_API_KEY_AQUI
PORT=SUA_PORTA_AQUI
JWT_SECRET=GERE_UMA_CHAVE_ALEATORIA_LONGA_AQUI
ADMIN_LOGIN=SEU_LOGIN_AQUI
ADMIN_PASSWORD=SUA_SENHA_FORTE_AQUI
CLEANUP_DAYS=7
INSTANCES=NOME_AQUI
NODE_ENV=NOME_AQUI
PIX_TIMEOUT_MS=TIME_AQUI
VAPID_PUBLIC_KEY=GERE_EM
VAPID_PRIVATE_KEY=GERE_EM
